.addNewAddressBox {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 260.25px;
  border: 1.25px solid #ccc;
  margin-bottom: 30px;
}

@media (max-width: 667px) {
  .addNewAddressBox {
    height: 114px;
  }
}

.flexOrder {
  order: -2;
}
